      <header class="nav-bar">
            <a href="{{ '/index.html' | relative_url }}" class="full-logo" data-page="home" aria-label="link to home page">
                <svg class="logo" data-name="logo" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="46px" height="46px" viewBox="0 0 100 100">
                    <circle class="logo-circle" cx="50" cy="50" r="46"/>
                    <text class="logo-h" transform="translate(26.56 76.47)">h</text>
                </svg>
                <svg class="logo-text" data-name="logo-text" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="167px" height="46px" viewBox="0 0 363 100">
                    <text class="logo-text-name" transform="translate(0 70)">Harvey Fretwell</text> <!--transform="translate(0 52)"-->
                    <!-- <text class="logo-text-role" transform="translate(0 93)">SOFTWARE ENGINEER</text> -->
                </svg>
            </a>
            <nav>
                <ul role="list" class="nav-list" aria-label="primary links">
                    <li><a class="fromLeft" href="{{ '/projects.html' | relative_url }}" data-page="projects" aria-label="">Projects</a></li>
                    <li><a class="fromLeft" href="{{ '/about.html' | relative_url }}" data-page="about">About me</a></li>
                    <li><a class="fromLeft" href="{{ '/contact.html' | relative_url }}" data-page="contact">Contact</a></li>
                    <hr>
                    <li><a class="fromRight" href="https://www.linkedin.com/in/harveyfretwell/" target="_blank">LinkedIn</a></li>
                    <li><a class="fromRight" href="https://github.com/harveyf2801" target="_blank">GitHub</a></li>
                    <li><a class="fromRight" href="https://gitlab.com/harveyf2801" target="_blank">GitLab</a></li>
                    <li><a class="fromRight" href="https://www.instagram.com/prodbyharveyf/" target="_blank">Instagram</a></li>
                </ul>
            </nav>
            <button type="submit" onclick="toggleMenu()" class="menu">
                <span class="menu-text">MENU</span>
                <div class="hamburger">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </div>
            </button>
        </header>
