<!DOCTYPE html>
<html lang="en" xml:lang="en" data-page="{{ page.name }}">
    <head>
        <title>{{ page.title }}</title>

        <!-- Metadata -->
        <meta charset="UTF-8">
        <meta http-equiv="Cache-control" content="public">
        <meta content="text/html; charset=UTF-8; X-Content-Type-Options=nosniff" http-equiv="Content-Type" />
        <meta name="viewport" content="height=device-height, width=device-width, initial-scale=1, viewport-fit=cover, shrink-to-fit=no">
        <meta name="author" content="Harvey Fretwell">
        <meta name="keywords" content="responsive, audio, software, engineer, development, dev, web, websiteportfolio, study, studies, student, projects, leicester, birmingham, england">
        <meta name="description" content="My portfolio">
        
        <!-- Favicons -->
        <link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/favicons/apple-touch-icon.png?' | relative_url }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/favicons/favicon-32x32.png?' | relative_url }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/favicons/favicon-16x16.png?' | relative_url }}">
        <link rel="manifest" href="{{ '/assets/favicons/site.webmanifest?' | relative_url }}">
        <link rel="mask-icon" href="{{ '/assets/favicons/safari-pinned-tab.svg?' | relative_url }}" color="#111111">
        <link rel="shortcut icon" href="{{ '/assets/favicons/favicon.ico?' | relative_url }}">
        <meta name="apple-mobile-web-app-title" content="Portfolio">
        <meta name="application-name" content="Portfolio">
        <meta name="msapplication-TileColor" content="#2b5797">
        <meta name="msapplication-config" content="{{ '/assets/favicons/browserconfig.xml' | relative_url }}">
        <meta name="theme-color" media="(prefers-color-scheme: light)" content="#EEEEEE">
        <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#111111">

        <!-- Dynamic Favicon -->
        <link rel="icon" type="image/svg+xml" href="{{ '/assets/favicons/favicon.svg?' | relative_url }}">
        
        <!-- Primary Meta Tags -->
        <meta name="title" content="{{ site.title }}">
        <meta name="description" content="Hey!
I'm Harvey,
and this is my portfolio ...">
        <meta property="og:locale" content="en_GB" />
        <meta property="og:site_name" content="Harvey Fretwell">

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="{{ site.url }}">
        <meta property="og:title" content="{{ site.title }}">
        <meta property="og:description" content="Hey!
I'm Harvey,
and this is my portfolio ...">
        <meta property="og:image" content="{{ '/assets/images/grey-pattern.jpg' | relative_url }}">

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:url" content="{{ site.url }}">
        <meta property="twitter:title" content="{{ site.title }}">
        <meta property="twitter:description" content="Hey!
I'm Harvey,
and this is my portfolio ...">
        <meta property="twitter:image" content="{{ '/assets/images/grey-pattern.jpg' | relative_url }}">

        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        <!-- Google Icons -->
        <link  rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

        <!-- CSS -->
        <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
    </head>
    <body>
        {% include header.html %}

        <br>
      
        {{ content }}

        {% include footer.html %}

        <button onclick="changeColorTheme()" id="theme-mode" title="Change colour theme">
            <span id="theme-symbol" class="material-symbols-outlined">light_mode</span>
       </button>

        <button onclick="toTop()" id="to-top" title="Go to top">
            <span class="material-symbols-outlined">north</span>
        </button>

    </body>
    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
</html>
