<!DOCTYPE html>
<html class="home">
    <head>
        <title>{{ page.title }}</title>

        <!-- Metadata -->
        <meta charset="UTF-8">
        <meta name="viewport" content="height=device-height, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover, shrink-to-fit=no">
        <meta name="author" content="Harvey Fretwell">
        <meta name="keywords" content="responsive, audio, software, engineer, development, dev, web, websiteportfolio, study, studies, student, projects, leicester, birmingham, england">
        <meta name="description" content="My portfolio">
        
        <!-- Favicons -->
        <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/assets/favicons/apple-touch-icon.png?">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/assets/favicons/favicon-32x32.png?">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/assets/favicons/favicon-16x16.png?">
        <link rel="manifest" href="{{ site.baseurl }}/assets/favicons/site.webmanifest?">
        <link rel="mask-icon" href="{{ site.baseurl }}/assets/favicons/safari-pinned-tab.svg?" color="#111111">
        <link rel="shortcut icon" href="{{ site.baseurl }}/assets/favicons/favicon.ico?">
        <meta name="apple-mobile-web-app-title" content="Portfolio">
        <meta name="application-name" content="Portfolio">
        <meta name="msapplication-TileColor" content="#2b5797">
        <meta name="msapplication-config" content="{{ site.baseurl }}/assets/favicons/browserconfig.xml">
        <meta name="theme-color" media="(prefers-color-scheme: light)" content="#EEEEEE">
        <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#111111">

        <!-- Dynamic Favicon -->
        <link rel="icon" type="image/svg+xml" href="{{ site.baseurl }}/assets/favicons/favicon.svg?">

        <!-- Open Graph protocol -->
        <meta property="og:locale" content="en_GB" />        
        <meta property="og:title" content="{{ page.title }}">
        <meta property="og:site_name" content="Harvey Fretwell">
        <meta property="og:url" content="{{ site.url }}{{ site.baseurl }}">
        <meta property="og:description" content="My portfolio">
        <meta property="og:type" content="website">
        
        <!-- !!! To Do !!! -->
        <meta property="og:image" content="{{ site.baseurl }}/assets/images/grey-pattern.jpg">
        <meta property="og:image:width" content="1200">
        <meta property="og:image:height" content="630">

        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        <!-- Google Icons -->
        <link  rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

        <!-- CSS -->
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/style/mainstyle.css">
    </head>
    <body>
        <header class="nav-bar">
            <a href="{{ site.baseurl }}" class="full-logo" data-page="home">
                <svg class="logo" data-name="logo" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="46px" height="46px" viewBox="0 0 100 100">
                    <circle class="logo-circle" cx="50" cy="50" r="46"/>
                    <text class="logo-h" transform="translate(26.56 76.47)">h</text>
                </svg>
                <svg class="logo-text" data-name="logo-text" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="167px" height="46px" viewBox="0 0 363 100">
                    <text class="logo-text-name" transform="translate(0 70)">Harvey Fretwell</text> <!--transform="translate(0 52)"-->
                    <!-- <text class="logo-text-role" transform="translate(0 93)">SOFTWARE ENGINEER</text> -->
                </svg>
            </a>
            <nav>
                <ul role="list" class="nav-list" aria-label="primary links">
                    <li><a class="fromLeft" href="{{ site.baseurl }}/projects.html" data-page="projects">Projects</a></li>
                    <li><a class="fromLeft" href="{{ site.baseurl }}/about.html" data-page="about">About me</a></li>
                    <li><a class="fromLeft" href="{{ site.baseurl }}/contact.html" data-page="contact">Contact</a></li>
                    <hr>
                    <li><a class="fromRight" href="https://www.linkedin.com/in/harveyfretwell/" target="_blank">LinkedIn</a></li>
                    <li><a class="fromRight" href="https://github.com/harveyf2801" target="_blank">GitHub</a></li>
                    <li><a class="fromRight" href="https://gitlab.com/harveyf2801" target="_blank">GitLab</a></li>
                    <li><a class="fromRight" href="https://www.instagram.com/prodbyharveyf/" target="_blank">Instagram</a></li>
                </ul>
            </nav>
            <button type="submit" onclick="toggleMenu()" class="menu">
                <span class="menu-text">MENU</span>
                <div class="hamburger">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </div>
            </button>
        </header>

        <br>
      
        {{ content }}

        <footer class="flex column">
            <hr>
            <section>
                <div>
                    <h4>Contact <br>information —</h4>
                    <p>Feel free to reach out to me any time. I prefer to talk over email.</p>
                    <ul class="links" role="list" aria-label="contact links">
                        <li><span class="text-light">E: </span><a href="mailto:hfretwell@icloud.com?subject=Contact from portfolio website&body=Hi Harvey,&nbsp I love your website!&nbsp">hfretwell@icloud.com</a></li>
                        <li><span class="text-light">P: </span><a href="tel:+447377693636;">07377 693636</a></li>
                    </ul>
                </div>
                
                <div>
                    <h4>Latest <br>projects —</h4>
                    <ul class="links" role="list" aria-label="project links">
                        <li><a href="{{ site.baseurl }}/projects/apps" class="special internal">Apps</a></li>
                        <li><a href="{{ site.baseurl }}/projects/audiofx" class="special internal">Audio FX</a></li>
                        <li><a href="{{ site.baseurl }}/projects/websites" class="special internal">Websites</a></li>
                        <li><a href="{{ site.baseurl }}/projects/test-automation" class="special internal">Test Automation</a></li>
                        <li><a href="{{ site.baseurl }}/projects" class="special internal">All projects</a></li>
                    </ul>
                </div>

                <div>
                    <h4>Current <br>status —</h4>
                    <p>
                        I’m currently working at Audient as a Quality Assurance Automation Engineer.
                        This role is part of my internship at BCU.
                    </p>
                </div>

                <div>
                    <h4>Follow <br>me on —</h4>
                    <ul class="links" role="list" aria-label="social links">
                        <li><a href="https://www.linkedin.com/in/harveyfretwell/" target="_blank">LinkedIn</a></li>
                        <li><a href="https://github.com/harveyf2801" target="_blank">GitHub</a></li>
                        <li><a href="https://gitlab.com/harveyf2801" target="_blank">GitLab</a></li>
                        <li><a href="https://www.instagram.com/prodbyharveyf/" target="_blank">Instagram</a></li>
                    </ul>
                </div>
            </section>

            <div class="copyright">
                <a href="{{ site.baseurl }}" class="internal link-in-text" data-page="home">
                    <svg class="logo lighten" data-name="logo" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="46px" height="46px" viewBox="0 0 100 100">
                        <style>
                            .lighten {
                                filter: contrast(0%);
                            }
                        </style>
                        <circle class="logo-circle" cx="50" cy="50" r="46"/>
                        <text class="logo-h" transform="translate(26.56 76.47)">h</text>
                    </svg>
                </a>
                <p class="fs-small fw-light">© 2022 Harvey Fretwell.<br>Leicester | Basingstoke | Birmingham,   England.</p>
            </div>
        </footer>

        <button onclick="changeColorTheme()" id="theme-mode" title="Change colour theme">
            <span id="theme-symbol" class="material-symbols-outlined">light_mode</span>
       </button>

        <button onclick="toTop()" id="to-top" title="Go to top">
            <span class="material-symbols-outlined">north</span>
        </button>

    </body>
    <script src="{{ site.baseurl }}/main.js"></script>
</html>
