<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="height=device-height, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover, shrink-to-fit=no">

        <!-- Title Bar -->
        <title>{{ page.title }}</title>

        <!-- Dynamic Favicon -->
        <link rel="icon" type="image/svg+xml" href="{{ site.baseurl }}/assets/favicons/404-icon.svg?">

        <!-- SVG animation -->
        <link rel="stylesheet" href="{{ '/assets/css/glitchstyle.css' | relative_url }}">
    </head>

    <body>
        {{ content }}
    </body>
</html>
