<!DOCTYPE html>
<html lang="en" xml:lang="en" data-page="{{ page.name }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="height=device-height, width=device-width, initial-scale=1, viewport-fit=cover, shrink-to-fit=no">

        <!-- Title Bar -->
        <title>{{ page.title }}</title>

        <!-- Dynamic Favicon -->
        <link rel="icon" type="image/svg+xml" href="{{ '/assets/favicons/404-icon.svg?' | relative_url }}">

        <!-- SVG animation -->
        <link rel="stylesheet" href="{{ '/assets/css/glitchstyle.css' | relative_url }}">
    </head>
    
    <style>
        main, main::before {
            background: url("{{ '/assets/images/glitch-background.jpg' | relative_url }}");
        }
    </style>

    <body>
        {{ content }}
    </body>
</html>
